body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 562px;
}

.wrapper::after, .wrapper::before {
    content: '';
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.wrapper::before {
    left: 2px;
    right: 2px;
    height: 5px;
    z-index: -1;   
}

.wrapper::after {
    left: 4px;
    right: 4px;
    height: 10px;
    z-index: -2;
}

header {
    text-align: center;
    color: #c5c5c5;
    font-size: 50px;
}

h1 {
    margin: 0;
    font-weight: 100;
    line-height: 1;
    font-style: normal;
    font-size: 100px;
    color: #CCCCCC;
}

main {
    position: relative;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #808080;
}

.mainHeader {
    display: flex;
    border-bottom: 1px #d1d1d1 solid;
    height: 66px;
}

.switchButton {
    width: 60px;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 30px;
    color: #808080;
    padding: 0;
    flex-shrink: 0;
}

.addItem {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 0 none;
    padding: 0;
    background-color: transparent;
    flex-grow: 1;
    font-size: 24px;
    padding-top: 4px;
}

::placeholder {
    font-style: italic;
    color: #CCCCCC;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

ul {
    min-height: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.task {
    box-shadow: inset 0px -1px 0px #E6E6E6;
    height: 64px;
    display: flex;
    align-items: center;
}

.taskDelete {
    margin: -9999px 0px 0px 0px;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    height: 60px;
    width: 60px;
    font-size: 50px;
    color:  #d1d1d1;
    padding: 0;
}

.task:hover {
    background-color: #f2f2f2;
}

.taskDelete:focus, .task:hover .taskDelete {
    margin: 0px;
}

.taskCheck {
    height: 30px;
    width: 30px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.taskCheck:checked ~ .taskName {
    color: #d1d1d1;
    text-decoration: line-through;
}

.taskName {
    flex-grow: 1;
    font-size: 25px;
    word-break: break-word;
}

footer {
    display: flex;
    box-shadow: inset 0px 1px 0px #E6E6E6;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 15px 0;
}

.clear {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    color: inherit;
    height: 25px;
    font: inherit;
    padding: 0;
}