body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.todo-app {
    position: relative;
    margin: 0 auto;
    width: 562px;
}

.todo-app::after, .todo-app::before {
    content: '';
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.todo-app::before {
    left: 2px;
    right: 2px;
    height: 5px;
    z-index: -1;   
}

.todo-app::after {
    left: 4px;
    right: 4px;
    height: 10px;
    z-index: -2;
}

header {
    text-align: center;
    color: #c5c5c5;
    font-size: 50px;
}

h1 {
    margin: 0;
    font-weight: 100;
    line-height: 1;
    font-style: normal;
    font-size: 100px;
    color: #CCCCCC;
}

.todo-app__frame {
    position: relative;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #808080;
}

.todo-app__main-controls {
    display: flex;
    border-bottom: 1px #e6e6e6 solid;
    height: 64px;
}

.main-controls__switch {
    width: 60px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    padding: 0;
    flex-shrink: 0;
    background-image: url(../img/switch.svg);
    background-repeat: no-repeat;
    background-position: 15px 26px;
}

.main-controls__add-task {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 0 none;
    padding: 0;
    background-color: transparent;
    flex-grow: 1;
    font-size: 24px;
    padding-top: 4px;
}

::placeholder {
    font-style: italic;
    color: #CCCCCC;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.todo-app__task-list {
    min-height: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.task-item {
    padding-left: 15px;
    border-bottom: 1px #e6e6e6 solid;
    min-height: 64px;
    display: flex;
    align-items: center;
}

.task-item__delete {
    margin: -9999px 0px 0px 0px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    height: 40px;
    width: 40px;
    padding: 0;
    background-image: url(../img/cross.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.task-item:hover {
    background-color: #f2f2f2;
}

.task-item__delete:focus, .task-item:hover .task-item__delete {
    margin: 0px;
}

.task-item__status-icon {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    margin-right: 12px;
    border: 1px #E6E6E6 solid;
    border-radius: 50%;
    background-color: #fff;
}

.task-item__status-input:checked + .task-item__status-icon {
    background-image: url(../img/check.svg);
    background-position: 6px 8px;
    background-repeat: no-repeat;
    border-color: #5DC2AF;
}

.task-item__status-input {
    opacity: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 0;
    margin-right: 15px;
}

.task-item__status-input:checked ~ .task-item__text {
    color: #d1d1d1;
    text-decoration: line-through;
}

.task-item__text {
    flex-grow: 1;
    font-size: 25px;
    word-break: break-word;
}

.todo-app__actions-bar {
    display: flex;
    border-top: 1px #e6e6e6 solid;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    padding: 3px 12px;
    font-size: 14px;
}

.task-clear-button {
    border: 0;
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    color: inherit;
    height: 25px;
    font: inherit;
    padding: 0;
}

.task-filter__item {
    padding: 8px 0;
    overflow: hidden;
}

.task-filter__input {
    width: 30px;
    height: 0;
    margin-left: -30px;
}

.task-filter__text {
    padding: 2px 6px;
    border: 1px transparent solid;
    border-radius: 3px;
}

.task-filter__input:checked + .task-filter__text {
    border-color: #ebdfdf;
}