.task-item {
  padding-left: 15px;
  border-bottom: 1px #e6e6e6 solid;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.task-item__delete {
  margin: -9999px 0 0 0;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  height: 40px;
  width: 40px;
  padding: 0;
  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.task-item:hover {
  background-color: #f2f2f2;
}

.task-item__delete:focus,
.task-item:hover .task-item__delete {
  margin: 0;
}

.task-item__status-icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  margin-right: 12px;
  border: 1px #e6e6e6 solid;
  border-radius: 50%;
  background-color: #fff;
}

.task-item__status-input:checked + .task-item__status-icon {
  background-image: url(../img/check.svg);
  background-position: 6px 8px;
  background-repeat: no-repeat;
  border-color: #5dc2af;
}

.task-item__status-input {
  opacity: 0;
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 0;
  margin-right: 15px;
}

.task-item__text {
  flex-grow: 1;
  font-size: 25px;
  word-break: break-word;
}
